@import './assets/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

$bg-light: #eaeaea;
:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Raleway', system-ui, Avenir, Helvetica, sans-serif;

  color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  background-color: $dark-gray;
  // font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: $blue;
  text-decoration: inherit;
  cursor: pointer;
  transition: 420ms all ease-in-out;
}
a:hover {
  color: $blue;
}

ul,
li,
p,
figure,
span,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  font-size: 1.25rem;
  background: $dark-gray;
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
}

p {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  font-size: 1rem;
  // line-height: 2rem;
}

h1 {
  font-size: 15.75rem;
  line-height: 3.125;
  // font-size: 3.2em;
  // line-height: 1.1;
}

h2 {
  font-size: 2rem;
  line-height: 2.5;
}

h3 {
  font-weight: 600;
  font-size: 2rem;
  // line-height: 2.5rem;
}

h4 {
  font-size: 1.75rem;
  // line-height: 2.5;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  // line-height: 2;
}

button {
  border-radius: 3.125rem;
  border: 1px solid transparent;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: capitalize;
  text-transform: uppercase;
  background-color: $blue;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.5s;
  color: white;
}

button:focus,
button:focus-visible {
  // outline: 4px auto -webkit-focus-ring-color;
}

@media (hover: hover) {
  button:hover {
    background-color: darken($blue, 4%);
  }
}

// @media (prefers-color-scheme: dark) {
//   background-color: #eaeaea;
//   color: white;
// }

@media (prefers-color-scheme: light) {
  :root {
    color: white;
    background-color: $bg-light;
  }
}
